In [11]:
#1. Add item to tuple
x= list(("ahmed", "amgad", "waleed"))
newitem= input("Enter an item to be added to tuple ")
x.append(newitem)
x= tuple(x)
print(x)

Enter an item to be added to tuple  reem

('ahmed', 'amgad', 'waleed', 'reem')

In [13]:
#2. Sum items in list
x= [3, 2, 4]
sum= 0
for value in x:
    sum+= value
print(sum)

9

In [11]:
#3. Multiply items in list
x= [3, 2, 4]
result= 0
if len(x) > 0:
    result= 1
    for value in x:
        result*= value
print(result)

24

In [7]:
#4. Get smallest item in list
x= [3, 0, 4, 10, 1] 
x.sort()
print("Smallest item is:", x[0])

Smallest item is: 0

In [8]:
#5. Get largest item in list
x= [3, 0, 4, 10, 1] 
x.sort()
print("Largest item is:", x[-1])

Largest item is: 10

In [12]:
#6. Count number of strings in list
x= ["hello",9 ,"reem" ,3 , "hi",7] 
text= []
for value in x:
    if type(value) ==str:
        text.append(value)
print(len(text))

3

In [14]:
#7. Copy list
x= ["hello",9 ,"reem" ,3 , "hi",7] 
y= x.copy()
print(y)

['hello', 9, 'reem', 3, 'hi', 7]

In [19]:
#8. Remove item from set
x= {"hello",9 ,"reem" ,3 , "hi",7}
x.remove(9)
print(x)

{'hello', 3, 'reem', 7, 'hi'}

In [23]:
#9. Check if set is subset of another
x= {9, 5, 8}
y= {"hello",9 ,"reem" ,5 , "hi", 7, 8}
x.issubset(y)

True

In [25]:
#10. Remove all items from set
x= {9, 5, 8}
x.clear()
print(x)

set()

In [30]:
#11. Get min and max of set
x= {9, 5, 8, 11}
print("Minimum is",min(x))
print("Maximum is",max(x))

Minimum is 5
Maximum is 11

In [35]:
#12. Get item index of tuple
x= (9, 5, 8, 11)
x.index(8)

2

In [2]:
#13. Convert tuple to dictionary
x= ("num1","num2")
y= 20
z= dict.fromkeys(x,y)
print(z)

{'num1': 20, 'num2': 20}

In [13]:
#14. Unzip tuples list to a list
list1 = [("hello", 9), ("hey", 5), ("hi", 1)]
print("Old list is ", list1)
list2 = list(zip(*list1))
print("New list is ", list2)

Old list is  [('hello', 9), ('hey', 5), ('hi', 1)]
New list is  [('hello', 'hey', 'hi'), (9, 5, 1)]

In [11]:
#15. Reverse tuple
x= (4, 8, "hello", "hi")
y= list(x)
y.reverse()
x= tuple(y)
print(x)

('hi', 'hello', 8, 4)

In [17]:
#16. Convert tuples list to dictionary
x = [("num1","num2"), ("x","y"), ("a","b")]
y= 20
z= dict.fromkeys(x,y)
print(z)

{('num1', 'num2'): 20, ('x', 'y'): 20, ('a', 'b'): 20}

In [59]:
#17. Replace last value of tuples list
x = [("num1","num2"), ("x","y"), ("a","b")]
y= []
for t in x:
    z= list(t)
    z[-1]= 10
    y.append(tuple(z))
print(y)

[('num1', 10), ('x', 10), ('a', 10)]

In [68]:
#18. Sort float tuple
x= (3.6, 2.8, 4.9)
z= sorted(list(x), key= float)
print(tuple(z))

(2.8, 3.6, 4.9)