In [3]:
#Import pandas
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore')

In [6]:
#Read file
df= pd.read_csv('Salaries.csv')

In [7]:
#Check head
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [8]:
#Check datatypes of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [9]:
#Change BasePay and OvertimePay from object to numeric
df["BasePay"] = pd.to_numeric(df["BasePay"], errors='coerce')
df["OvertimePay"] = pd.to_numeric(df["OvertimePay"], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(5), int64(2), object(6)
memory usage: 14.7+ MB

In [10]:
#Average BasePay
df["BasePay"].mean()

66325.4488404877

In [11]:
#Highest amount of OvertimePay
df["OvertimePay"].max()

245131.88

In [34]:
#Job title for Joseph Driscoll
row1= df[df["EmployeeName"] == "Joseph Driscoll"]
row1["JobTitle"]

36198    Captain, Fire Suppression
Name: JobTitle, dtype: object

In [23]:
#Payment include benefits for Joseph Driscoll
row1["TotalPay"]

36198    288915.63
Name: TotalPay, dtype: float64

In [40]:
#Highest paid person
maxpay= df["TotalPay"].idxmax()
print(df["TotalPay"].max())
row2= df.iloc[maxpay]
row2["EmployeeName"]

567595.43

'NATHANIEL FORD'

In [41]:
#Lowest paid person
minpay= df["TotalPay"].idxmin()
print(df["TotalPay"].min())
row3= df.iloc[minpay]
row3["EmployeeName"]

-618.13

'Joe Lopez'

In [43]:
#Average BasePay
df["BasePay"].mean()

66325.4488404877

In [44]:
#Number of unique job titles
df["JobTitle"].nunique()

2159

In [54]:
#Top 5 common jobs
topjobs= df["JobTitle"].value_counts()
topjobs.head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [70]:
#Number of jobs done by only one person in 2013
newdf= df.where(df["Year"] == 2013)
newdf["JobTitle"].nunique()

1051

In [92]:
#Number of jobs have word "Chief"
cheifs= df[df['JobTitle'].str.contains('CHIEF')]
len(cheifs)

204

In [83]:
#Check correlation between length of job title and salary
x= df["JobTitle"].str.len()
y= df["TotalPay"]
result= x.corr(y)
result

-0.015356226699094547